.faq {
  padding-top: 0;
  &__collapsible {
    background-color: #F7F7F8;
    color: $black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    @include breakpoint(small) {
      font-size: 14px;
    }
    //@include breakpoint(medium) {
    //  margin: 0 20px;
    //}

    position: relative;
    &_arrow {
      position: absolute;
      top: 50%;
      right: 20px;
      opacity: 0;
      &.is-active {
        opacity: 1;
      }
    }
  }
  &__wrapper {
    margin: 7px 20px;
  }

  .active {
    background-color: rgba(97, 161, 153, 0.1);
    color: #61A199
  }

  &__collapsible:hover {
    background-color: rgba(97, 161, 153, 0.1);

  }

  &__content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: left;
    &_text{
      font-size: 20px;
      @include breakpoint(small) {
        font-size: 14px;
      }
    }
    //background-color: #f1f1f1;
  }

}
