header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .9);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 19px;
  @include breakpoint(large) {
    width: 100%;
  }
  @include breakpoint(medium) {
    justify-content: space-between;
    padding: 20px;
  }

  &__menu-icon {
    opacity: 0;
    pointer-events: none;

    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 40px;
    @include breakpoint(medium) {
      position: static;
    }
  }

  &__nav {
    &__link {
      margin: 0 30px;
      text-decoration: none;
      color: $black;

      &.is-active, &:hover {
        color: $gray3
      }
    }
  }

  &__authBtn {
    margin: 23px 40px;
    padding: 11px 29px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    background-color: $white;
    box-sizing: border-box;
    border-radius: 6px;
    color: $black;
    outline-style: none;
    cursor: pointer;
    font-weight: normal;

    &:hover {
      background-color: rgba(27, 27, 27, 0.1);
    }
  }

}
