<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>

<header class="header">
    <a class="header__logo" href="/"><img src="/img/logo.svg" alt="logo" width="115px"></a>
    <nav class="header__nav is-desktop">
        <a class="header__nav__link is-animated is-active" href="#">О Нас</a>
        <a class="header__nav__link is-animated" href="#">Условия</a>
        <a class="header__nav__link is-animated" href="/faq">Частые вопросы</a>
    </nav>
    <button class="header__authBtn is-animated is-desktop">Войти</button>
    <div id="burger-menu" class="header__menu-icon is-mobile is-active"><img src="/img/burger-menu.svg" alt="logo"></div>
</header>

<main class="main">

    <div id="mobile-menu" class="menu__mobile is-mobile is-animated">
        <div class="menu__mobile__header">
            <img src="/img/logo.svg" alt="logo" width="115px">
            <img id="close-menu" src="/img/close.svg" alt="logo" >
        </div>
        <nav class="menu__mobile__nav">
            <a class="menu__mobile__nav_link is-active" href="#">О Нас</a>
            <a class="menu__mobile__nav_link" href="#">Условия</a>
            <a class="menu__mobile__nav_link" href="/faq">Частые вопросы</a>
        </nav>
        <button class="menu__mobile__button is-mobile">Войти</button>
    </div>

    <section class="about">
        <div class="content-container">
            <!--            <div class="menu__button icon-menu is-mobile"></div>-->
            <img src="/img/about_team.svg" alt="drawn team">
            <h1>О нас</h1>
            <p class="about__text">Это учебный проект, созданный с целью получения боевого опыта в разработке
                настоящего живого веб-приложения. Этот сервис имитирует работу каршеринга,
                в котором можно не только арендовать автомобили, но и сдавать их в аренду.</p>
        </div>
    </section>

    <section class="contacts">
        <div class="content-container">
            <h2>Контакты</h2>
            <div class="contacts__data">
                <div class="contacts__data_col">
                    <p class="contacts__data_col_label">Электронная почта</p>
                    <p class="contacts__data_col_val">drive@skillfactory.com</p>
                </div>
                <div class="contacts__data_col">
                    <p class="contacts__data_col_label">Телефон</p>
                    <p class="contacts__data_col_val">+7 912 123-45-67</p>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="content-container">
            <h2>Команда</h2>
            <div class="team__cards">
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/1.png" alt="CEO photo">
                    <p class="team__cards_item_name">Иван Иванов</p>
                    <p class="team__cards_item_pro">CEO</p>
                </div>
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/2.png" alt="frontend developer photo">
                    <p class="team__cards_item_name">Алексей Смирнов</p>
                    <p class="team__cards_item_pro">Frontend-разработчик</p>
                </div>
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/3.png" alt="backend developer photo">
                    <p class="team__cards_item_name">Денис Ярцев</p>
                    <p class="team__cards_item_pro">Backend-разработчик</p>
                </div>
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/4.png" alt="designer photo">
                    <p class="team__cards_item_name">Николай Морозов</p>
                    <p class="team__cards_item_pro">Дизайнер</p>
                </div>
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/5.png" alt="copywriter photo">
                    <p class="team__cards_item_name">Ирина Деева</p>
                    <p class="team__cards_item_pro">Копирайтер</p>
                </div>
                <div class="team__cards_item">
                    <img class="team__cards_item_photo" src="/img/team/6.png" alt="SMM photo">
                    <p class="team__cards_item_name">Мария Стрелкова</p>
                    <p class="team__cards_item_pro">SMM</p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <p class="footer__rights">© SkillDrive Inc. 2020</p>
    <div class="footer__socials">
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/1.svg" alt="vkontakte link"></a>
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/2.svg" alt="instagram link"></a>
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/3.svg" alt="facebook link"></a>
    </div>
</footer>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
