<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>

<header class="header">
    <a class="header__logo" href="/"><img src="/img/logo.svg" alt="logo" width="115px"></a>
    <nav class="header__nav is-desktop">
        <a class="header__nav__link is-animated" href="/about">О Нас</a>
        <a class="header__nav__link is-animated" href="#">Условия</a>
        <a class="header__nav__link is-animated is-active" href="#">Частые вопросы</a>
    </nav>
    <button class="header__authBtn is-animated is-desktop">Войти</button>
    <div id="burger-menu" class="header__menu-icon is-mobile is-active"><img src="/img/burger-menu.svg" alt="logo"></div>
</header>

<main class="main">

    <div id="mobile-menu" class="menu__mobile is-mobile is-animated">
        <div class="menu__mobile__header">
            <img src="/img/logo.svg" alt="logo" width="115px">
            <img id="close-menu" src="/img/close.svg" alt="logo" >
        </div>
        <nav class="menu__mobile__nav">
            <a class="menu__mobile__nav_link" href="/about">О Нас</a>
            <a class="menu__mobile__nav_link" href="#">Условия</a>
            <a class="menu__mobile__nav_link is-active" href="#">Частые вопросы</a>
        </nav>
        <button class="menu__mobile__button is-mobile">Войти</button>
    </div>

    <section class="about">
        <div class="content-container">
            <!--            <div class="menu__button icon-menu is-mobile"></div>-->
            <img src="/img/faq-image.svg" alt="image">
            <h1>Частые вопросы</h1>
            <p class="about__text">Отвечаем на вопросы, которые у вас могут возникнуть.</p>
        </div>
    </section>

    <section class="faq">
        <div class="content-container">
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Могу ли я отменить бронь?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Да, конечно, скорее всего, если это не будет проблемой...</p>
                </div>
            </div>
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Могу ли я вернуть деньги, если не подошёл автомобиль?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Да, если он не подошёл не более чем на два размера...</p>
                </div>
            </div>
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Что делать, если случилось ДТП?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Надеяться, что автомобиль был застрахован...</p>
                </div>
            </div>
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Могу ли я оставить автомобиль в удобном для меня месте?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Да, если это место - офис нашей компании...</p>
                </div>
            </div>
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Что делать, если собственник просит заплатить ему напрямую?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Заплатить ему...и не говорить, откуда у вас его автомобиль...</p>
                </div>
            </div>
            <div class="faq__wrapper">
                <button type="button" class="faq__collapsible">Должен ли я заправлять автомобиль?
                    <img class="faq__collapsible_arrow" src="/img/arrow-up.svg">
                    <img class="faq__collapsible_arrow is-active" src="/img/arrow-down.svg">
                </button>
                <div class="faq__content">
                    <p class="faq__content_text">Да, если не хотите катить его вручную...</p>
                </div>
            </div>
        </div>
    </section>

</main>

<footer class="footer">
    <p class="footer__rights">© SkillDrive Inc. 2020</p>
    <div class="footer__socials">
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/1.svg" alt="vkontakte link"></a>
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/2.svg" alt="instagram link"></a>
        <a href="" target="_blank" rel="nofollow"><img src="img/sm_icons/3.svg" alt="facebook link"></a>
    </div>
</footer>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
